.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
}

.filter__buttons {
  margin-bottom: 15px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  color: var(--primary-text-color);
  background-color: var(--secondary-bgc);
  font-size: 16px;
  line-height: 1.62;
  border: 0px;
  border-radius: 7px;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-bgc);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}
