.team {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.section__other-background {
  background-color: rgba(245, 244, 250, 1);
}
// .team {
//   display: flex;
// }
// .team__item {
//   background-color: #ffffff;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }
// .team__item:not(:last-child) {
//   margin-right: 30px;
// }
.team__block {
  padding: 30px 0;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19 / 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.team__description {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team__socials {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(175, 177, 184, 1);
}
