.email-button {
  margin-left: 8px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--secondary-bgc);
  border: transparent;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
.email-button__icon {
  margin-left: 10px;
}
